.main {
  background-color: gray;
  width: 30rem;
  margin: auto;
  padding: 2rem;
  margin-top: 5rem;
  border-radius: 16px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2rem;
}

.div {
  display: flex;
  justify-content: center;
}
